<div class="container pt-3">
  <div class="row">
    <div class="mx-auto">
    <h2>User info</h2>
      <%= form_with model:@user do |f| %>
      
      <table>
        <label for="inputName">Name</label></br>
        <%= f.text_field :name, autofocus: true, id:"inputName" %></br>
        
        <label for="inputImage">Image</label></br>
        <%= f.file_field :profile_image,  accept: "image/*" %></br>
        
        <label for="inputIntroduction">Introduction</label></br>
        <%= f.text_area :introduction, autofocus: true, id:"inputIntroduction" %></br>
        
        <div class-"book-botton">
          <input class="btn btn-secondary" type="submit" value="Update User">
        </div>
      <% end %>
      </table>
    </div>
  </div>
</div>