<h2>welcome to 
  <i class="fas fa-book"></i><strong>Bookers !!</strong>
</h2>
  <h4>
    In <i class="fas fa-book"></i>Bookers,<br>
    you can share and exhange your opinions, inpressions,and emotions<br>
    about carious books!
  </h4>